<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p class="title">Gekita</p>
        </a>
    </div>
    <div class="column is-two-fifths">
        <div class="field">
            <div class="control">
                <div id="gekiTitle">
                    <input v-model="message" class="input" type="text" placeholder="タイトル">
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <a class="navbar-item">
            <span class="icon is-large">
                <%= fa_icon 'save 2x' %>
            </span>
        </a>
        <a class="navbar-item">
            <span class="icon is-large">
                <%= fa_icon 'user-circle 2x' %>
            </span>
        </a>
    </div>

</nav>

<section class="section">
    <div class="columns">
        <div class="column is-half">
            <div class="field">
                <div class="control">
                    <div id="gekiBody">
                        <textarea v-model="body" class="textarea has-fixed-size" placeholder="入力してください" rows="30"></textarea>

                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div id="gekiPreview" style="height: 100%">
                <div class="card" style="height: 100%">
                    <div class="card-content">
                        <p style="white-space: pre;" v-text="body"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
