// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bulma/bulma';

// $midnight-blue: #252a35;
$thin-black: #5f5f5f;

.geki-editor {
    .title {
        color: $thin-black;
    }
    table, tr, th, td {
        border-style: none;
    }
    .table.is-narrow {
        td, th {
            padding: 0 0;
        }
        .doo {
            padding-left: 50px;
        }
        .serif {
            padding-left: 10px;
        }
    }
    .tag {
        background-color: #ac8b66;
        color: #eeeeee
    }
}