// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bulma/bulma';

// $midnight-blue: #252a35;
$thin-black: #5f5f5f;

$tag-red: #C62828;
$tag-pink: #AD1457;
$tag-purple: #6A1B9A;
$tag-deep-purple: #4527A0;
$tag-indigo: #283593;
$tag-blue: #1565C0;
$tag-light-blue: #0277BD;
$tag-cyan: #00838F;
$tag-teal: #00695C;
$tag-green: #2E7D32;
$tag-light-green: #558B2F;
$tag-lime: #9E9D24;
$tag-yellow: #F9A825;
$tag-amber: #FF8F00;
$tag-orange: #EF6C00;
$tag-deep-orange: #D84315;
$tag-brown: #4E342E;
$tag-grey: #424242;
$tag-blue-grey: #37474F;

.geki-editor {
    overflow-y: scroll;
    .title {
        color: $thin-black;
    }
    table, tr, th, td {
        border-style: none;
    }
    .table.is-narrow {
        .doo {
            padding-left: 50px;
        }
        .serif {
            padding-left: 10px;
        }
    }
    .tag {
        background-color: $tag-blue-grey;
        color: #eeeeee;
        font-weight: bold;
    }
    .tag {
        &.red {
            background-color: $tag-red;
        }
        &.pink {
            background-color: $tag-pink;
        }
        &.purple {
            background-color: $tag-purple;
        }
        &.deep-purple {
            background-color: $tag-deep-purple;
        }
        &.indigo {
            background-color: $tag-indigo;
        }
        &.blue {
            background-color: $tag-blue;
        }
        &.light-blue {
            background-color: $tag-light-blue;
        }
        &.cyan {
            background-color: $tag-cyan;
        }
        &.teal {
            background-color: $tag-teal;
        }
        &.green {
            background-color: $tag-green;
        }
        &.light-green {
            background-color: $tag-light-green;
        }
        &.lime {
            background-color: $tag-lime;
        }
        &.yellow {
            background-color: $tag-yellow;
        }
        &.amber {
            background-color: $tag-amber;
        }
        &.orange {
            background-color: $tag-orange;
        }
        &.deep-orange {
            background-color: $tag-deep-orange;
        }
        &.brown {
            background-color: $tag-brown;
        }
        &.grey {
            background-color: $tag-grey;
        }
        &.blue-grey {
            background-color: $tag-blue-grey;
        }
    }
}

#gekiNav .navbar-brand {
    width: 80%;
}

#gekiTitle {
    width: 100%;
    input {
        width: 100%;
    }
}

#gekiSection {
    padding: 10px;
    padding-bottom: 0;
    height: 90vh;
    div, textarea, table {
        height: 100%;
    }
    .column {
        padding-bottom: 0;
    }
}

#gekiPrint {
    .geki-editor {
        overflow: auto;
    }
}